 
<div class="container mt-5">
  <h2>About Us</h2>
  <p>Amazon was founded in 1989 with the mission to provide high-quality products accessible to everyone, everywhere. We are committed to offering the best car shopping experience, outstanding customer service, and a wide selection of fast cars .</p>
  <p>Our team believes in innovation, quality, and community. We're constantly striving to bring you the latest and greatest products at competitive prices.</p>
  
  <img src="https://cdn.pixabay.com/photo/2016/04/28/20/58/lamborghini-1359712_1280.jpg" alt="">
    
      
</div>
